<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUser</servlet-name>
        <servlet-class>Rest.RegistroUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>Rest.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainRest</servlet-name>
        <servlet-class>Rest.MainRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginBBDD</servlet-name>
        <servlet-class>Rest.LoginBBDD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUser</servlet-name>
        <url-pattern>/RegistroUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainRest</servlet-name>
        <url-pattern>/MainRest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginBBDD</servlet-name>
        <url-pattern>/LoginBBDD</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
