<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUser</servlet-name>
        <servlet-class>Rest.RegistroUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>Rest.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainRest</servlet-name>
        <servlet-class>Rest.MainRest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUserPassword</servlet-name>
        <servlet-class>Rest.CheckUserPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>Rest.Menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearAgenda</servlet-name>
        <servlet-class>Rest.CrearAgenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuAgenda</servlet-name>
        <servlet-class>Rest.MenuAgenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarContacto</servlet-name>
        <servlet-class>Rest.InsertarContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateContacto</servlet-name>
        <servlet-class>Rest.CreateContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedirContacto</servlet-name>
        <servlet-class>Rest.PedirContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarContacto</servlet-name>
        <servlet-class>Rest.MostrarContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarAgenda</servlet-name>
        <servlet-class>Rest.ValidarAgenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarPersona</servlet-name>
        <servlet-class>Rest.ValidarPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecogerContacto</servlet-name>
        <servlet-class>Rest.RecogerContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DevolverAgenda</servlet-name>
        <servlet-class>Rest.DevolverAgenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarContacto</servlet-name>
        <servlet-class>Rest.BorrarContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasarNombre</servlet-name>
        <servlet-class>Rest.PasarNombre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUser</servlet-name>
        <url-pattern>/RegistroUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainRest</servlet-name>
        <url-pattern>/MainRest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUserPassword</servlet-name>
        <url-pattern>/CheckUserPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearAgenda</servlet-name>
        <url-pattern>/CrearAgenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuAgenda</servlet-name>
        <url-pattern>/MenuAgenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarContacto</servlet-name>
        <url-pattern>/InsertarContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateContacto</servlet-name>
        <url-pattern>/CreateContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedirContacto</servlet-name>
        <url-pattern>/PedirContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarContacto</servlet-name>
        <url-pattern>/MostrarContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarAgenda</servlet-name>
        <url-pattern>/ValidarAgenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarPersona</servlet-name>
        <url-pattern>/ValidarPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecogerContacto</servlet-name>
        <url-pattern>/RecogerContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DevolverAgenda</servlet-name>
        <url-pattern>/DevolverAgenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarContacto</servlet-name>
        <url-pattern>/BorrarContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasarNombre</servlet-name>
        <url-pattern>/PasarNombre</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
